/* screen - 삭제 */

.text-1 {
  color: #b0afaf;
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: -1.00px;
  line-height: normal;
  min-height: 12px;
  min-width: 18px;
  white-space: nowrap;
}
