/* screen - 3시간전 */

.text-1 {
  color: #b0afaf;
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: -1.40px;
  line-height: normal;
  min-height: 16px;
  min-width: 47px;
  white-space: nowrap;
}
