/* screen - 유빈이신다버린신발 */

.text-1 {
  color: #000000;
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-weight: 800;
  letter-spacing: -1.00px;
  line-height: 19px;
  width: 255px;
}
