/* screen - 서울대학교공과대학 */

.text-1 {
  color: #000000;
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 209px;
}
