/* screen - 21 */

.number {
  color: #b0afaf;
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: -1.40px;
  line-height: normal;
  min-height: 16px;
  width: 18px;
}
