/* screen - 283_655 */

.footer {
  align-items: flex-end;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 44.21vw;
  padding: 7.96vw 19.3vw;
  width: 179.33vw;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  gap: 2.74vw;
  margin-right: 0.25vw;
  margin-top: 0.75vw;
  min-width: 13.57vw;
}

.envelope {
  height: 2.49vw;
  width: 3.11vw;
}

.flex-row-item {
  height: 2.49vw;
  width: 2.49vw;
}

.flex-row-1 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  gap: 9.71vw;
  height: 15.69vw;
  margin-left: 5.23vw;
  margin-top: 0.5vw;
  min-width: 44.96vw;
}

.company {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 15.69vw;
  width: 13.95vw;
}

.company-1 {
  color: var(--black);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-l);
  font-weight: 800;
  letter-spacing: 0.05vw;
  line-height: 2.62vw;
  width: 12.95vw;
}

.about-us {
  letter-spacing: 0.04vw;
  line-height: normal;
  margin-top: 1.74vw;
  min-height: 3.24vw;
  width: 10.09vw;
}

.text-4 {
  margin-top: 1.25vw;
  min-height: 2.62vw;
  width: 10.09vw;
}

.fa-qs {
  letter-spacing: 0.04vw;
  line-height: normal;
  margin-top: 1.62vw;
  min-height: 2.62vw;
  width: 5.98vw;
}

.information {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 15.32vw;
  width: 21.3vw;
}

.information-1 {
  color: var(--black);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-l);
  font-weight: 800;
  letter-spacing: 0.05vw;
  line-height: 2.62vw;
  width: 15.69vw;
}

.text-1 {
  margin-top: 1.37vw;
  min-height: 2.62vw;
  width: 10.34vw;
}

.text-2 {
  margin-top: 1.87vw;
  min-height: 2.12vw;
  white-space: nowrap;
}

.text-3 {
  margin-top: 2.12vw;
  min-height: 2.62vw;
  width: 10.34vw;
}

.right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1.99vw;
  margin-top: 3.61vw;
  min-height: 5.23vw;
  width: 140.35vw;
}

.line-1-stroke {
  height: 0.12vw;
  width: 140.1vw;
}

.acorn-company-inc {
  letter-spacing: 0.04vw;
  line-height: normal;
  margin-left: 0.12vw;
  min-height: 3.24vw;
  width: 47.57vw;
}

.text {
  letter-spacing: 0.04vw;
  line-height: normal;
}
