/* screen - home */

.place {
  color: #000000;
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-weight: 800;
  letter-spacing: 0.40px;
  line-height: 20px;
  min-height: 22px;
  white-space: nowrap;
  width: 57px;
}
