:root {
 
  --font-size-l: 45px;
  --font-size-m: 17px;
 
  --font-family-nanum_gothic: "Nanum Gothic", Helvetica;
  --font-family-rowdies: "Rowdies", Helvetica;
}
.logo {
  font-family: var(--font-family-rowdies);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -2.25px;
}
