/* screen - 306_1012 */

.tag {
  height: 17px;
  width: 44px;
}

.overlap-group {
  padding: 3.2px 7.8px;
}

.text-1 {
  min-height: 10px;
  width: 27px;
}

.overlap {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--silver-chalice);
  border-radius: 5px;
  display: flex;
  height: 17px;
  min-width: 44px;
}

.text {
  color: var(--silver-chalice);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: -0.40px;
  line-height: normal;
  text-align: center;
}
