:root { 
  --black: #000000;
 
  --font-size-l: 22px;
  --font-size-m: 18px;
 
  --font-family-nanum_gothic: "Nanum Gothic", Helvetica;
}
.nanumgothic-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
